@model AddActorFormModel

@{
    ViewData["Title"] = "Create Actor";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Filmography"></label>
                <textarea asp-for="Filmography" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Filmography" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Add Actor</button>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
